---
import Layout from "../layouts/Layout.astro";

import "@new-ui/foundations";
---

<Layout
  site="404 Page Not Found - Geek APIs"
  title="Oops!"
  tagline="Sorry, the page you are looking for does not exist."
>
<main>
    <div class="btn-group">
        <a
            href="https://geek-api.jpdiaz.dev/"
            class="submit-btn"
            tabindex="0">Back to Home</a
        >
    </div>
  </main>
</Layout>
