---
import Layout from "../layouts/Layout.astro";

import "@new-ui/foundations";
import Dashboard from "../components/Dashboard";
---

<Layout
  site="Geek APIs"
  title="Juan Diaz"
  tagline="MASSIVE list of 1500+ Geek APIs for developers."
  description="Discover 1500+ curated APIs for developers. Find APIs for gaming, AI, productivity, design, music, and more. Your ultimate developer resource hub."
>
  <main>
    <Dashboard client:idle category='all' />
  </main>
</Layout>
