---
import Layout from "../layouts/Layout.astro";

import "@new-ui/foundations";
import Dashboard from "../components/Dashboard";
---

<Layout
  site="Geek APIs"
  title="Juan Diaz"
  tagline="MASSIVE list of 1500+ Geek APIs for developers."
>
  <main>
    <Dashboard client:load category='all' />
  </main>
</Layout>
